<%- include('includes/links.ejs') %>

<%- include('includes/links.ejs') %>

<body>

<main>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="bg-light text-success" style="margin-left: 10px;">
        <a href="/auth/login"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg></a>
        </div>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Forgot Password</h2>
              
              <form action="/auth/forgot" method="post" class="container mt-5 was-validated">
          <%- include('includes/messages.ejs') %> 
                <div class="form-outline mb-4">
            <label class="form-label" for="validateemail">Email address</label>
            <input type="text" class="form-control" placeholder="enter your email" name="forgot_mail"
            pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Send to mail</button>
                </div>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<body>
</body>
</html>