<%- include('includes/links.ejs') %>
<body>
 <%- include('includes/nav2.ejs') %>
 <%- include('includes/back.ejs') %>
<main>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
             <h2 class="text-uppercase text-center mb-5">New Student</h2>
             <form method="post" action="/student/addstudent" enctype="multipart/form-data" class="was-validated">
                <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Name</label>
            <input type="text" id="validateField" class="form-control form-control-lg" name="name" placeholder="Enter your name" pattern="^[a-zA-Z ]*$" required autofocus/>
                </div>  
                <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Address</label>
            <textarea name="address" id="validateField" class="form-control form-control-lg"  rows="3" placeholder="Enter your address" required></textarea>
                </div>
                   <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Email address</label>
            <input type="email" id="validateField" class="form-control form-control-lg" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" name="email" placeholder="Enter your email address" required/>
                   </div>
                      <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Phone</label>
            <input type="tel" id="validateField" class="form-control form-control-lg" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Enter your phone number" required/>
                      </div>
          <div class="form-outline mb-4">
          
            <label class="form-label" for="validateField">Branch</label>
            <select class="form-control form-select" aria-label="Default select example" name="branch" required>
              <option value="">Select</option>
             <% for(let branches of branch) { %><option ><%= branches.branch %></option> <% } %>
          </select>

          </div>                       
          <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Date Of Birth</label>
            <input type="date" id="validateField" class="form-control form-control-lg" name="dob" min="1970-01-01" max="2010-12-31" required/>
                         </div>
                            <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Profile picture</label>
           <input type="file" name="Testimage" class="form-control"  id="validateField" accept="image/jpeg"  required/>
                            </div>
                               <div class="form-outline mb-4">
   <button type="submit" class="btn btn-success btn-lg btn-block">Create</button>
                               </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
    </body>
    </html>



  