<html>
    <head>
        <title>admin login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    
  </head>

<body>

<section class="vh-100">

  <div class="container h-100" style="margin-top : 100px">
    <div class=" align-items-center justify-content-center h-100">
        <form method="post" action="/subject" class="was-validated">
            <h1 align="center" class="text-primary">New Subject</h1>
        <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Subject Id</label>
            <input type="text" id="validateField" class="form-control form-control-lg" name="id" placeholder="Enter Subject Id" required autofocus/>
          </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="validateField">Subject Name</label>
            <input type="text" id="validateField" class="form-control form-control-lg" name="subject" placeholder="Enter Subject Name" required />
          </div>
        <div class="form-outline mb-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
          </div>
        </form>
    
 
    </div>
  </div>
</section>
    </body>
    </html>



  